section.container-fluid {
  padding: 0;
}

.hero-content {
  height: 563px;
  width: 100%;
  background: #FAFAFA;
}

.hero-content .container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.hero-content .container .wrapper {
  position: relative;
  min-width: 253px;
  height: 563px;
}

.hero-content .container .wrapper button {
  height: 40px;
  width: 253px;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);
  border: none;
  display: none;
}

.hero-content .container .wrapper button.show {
  border-bottom: 1px solid #8367D8;
}

.hero-content .container .wrapper .categories {
  margin: 0;
  padding: 0;
  min-width: 253px;
  background: #FFFFFF;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.11);
  list-style: none;
}

.hero-content .container .wrapper .categories h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #8367D8;
  letter-spacing: 0.56px;
  padding-left: 20px;
  margin-top: 0;
  padding-top: 25px;
}

.hero-content .container .wrapper .categories li a {
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  text-decoration: none;
  height: 49px;
  border-bottom: 1px solid #ECECEC;
}

.hero-content .container .wrapper .categories li a:hover {
  color: #8367D8;
  border-bottom: 1px solid #8367D8;
}

.carousel .item {
  display: flex;
}

.carousel .item .about {
  margin-left: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel .item .about h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 46px;
  color: #252525;
  letter-spacing: 1.61px;
  margin-bottom: 14px;
  margin-top: 0;
}

.carousel .item .about .price {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #8367D8;
  letter-spacing: 0.84px;
  margin-top: 0;
  margin-bottom: 14px;
}

.carousel .item .about a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 192px;
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.carousel .item .about a span {
  width: 4px;
  height: 11px;
  background: #252525;
  position: absolute;
  right: 30px;
  border-radius: 15px;
}

.carousel .item .about a span:first-child {
  transform: rotateZ(-45deg) translateY(-4px);
}

.carousel .item .about a span:last-child {
  transform: rotateZ(45deg) translateY(4px);
}

.carousel .item .about a:active {
  box-shadow: none;
}

.carousel .item .about .description {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 23px;
  width: 323px;
}

.carousel .item img {
  width: 484px;
}

.feature-collection {
  margin-top: 56px;
}

.feature-collection h3,
.feature-products h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #252525;
  letter-spacing: 0.98px;
  padding-bottom: 14px;
  border-bottom: 4px solid #ECECEC;
}

.feature-products .nav-tabs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 4px solid #ECECEC;
  padding-bottom: 13px;
}

.feature-products .nav-tabs li {
  height: 34px;
}

.feature-products .nav-tabs li a {
  height: 34px;
  display: block;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #252525;
  letter-spacing: 0.98px;
  padding-bottom: 13px;
  transition: border .23s ease-in-out;
  border-bottom: 4px solid transparent;
}

.feature-products .nav-tabs li a.active,
.feature-products .nav-tabs li a:hover {
  border-bottom: 4px solid #8367D8;
  transition: border .23s ease-in-out;
}

.feature-collection .collections,
.feature-products .collections {
  margin-top: 25px;
  margin-bottom: 71px;
}

.feature-collection .collections{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-auto-rows: minmax(350px, auto);
}

.feature-products .collections {
  margin-top: 25px;
  margin-bottom: 71px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  grid-auto-rows: minmax(350px, auto);
}

.feature-collection .collections .collection {
  margin-bottom: 29px;
}

.feature-products .collections .collection {
  margin-bottom: 25px;
}

.collections .collection > a {
  text-decoration: none;
}

.collections .collection .img {
  width: 100%;
  height: 350px;
  background: #ECECEC;
}

.collections .collection .img img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.collections .collection h5 {
  font-size: 24px;
  color: #252525;
  letter-spacing: 0.84px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 11px;
  margin-bottom: 7px;
}

.collections .collection p {
  font-size: 16px;
  color: #252525;
  letter-spacing: 0.56px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin: 0;
}

/* Media queries */

@media (max-width: 1200px) {
  .carousel .item {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .carousel .item img {
    height: 224px;
    width: auto;
    object-fit: contain;
  }
}

@media (max-width: 698px) {

  .hero-content .container {
    display: block;
  }

  .hero-content .categories {
    display: none;
  }

  .hero-content .container .wrapper {
    height: unset;
  }

  .hero-content .container .wrapper button {
    display: block;
  }

  .hero-content .wrapper button.show ~ .categories {
    position: absolute;
    z-index: 40;
    display: block;
  }

  .carousel .item .about {
    margin-left: 39px;
    margin-top: 30px;
  }

  .carousel .item img {
    height: 224px;
    max-width: 484px;
    width: 100%;
  }

  .carousel .item .about .description {
    width: 100%;
  }
}

@media (max-width: 1112px) {
  .feature-products .collections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .feature-collection .collections,
  .feature-products .collections{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .feature-collection .collections,
  .feature-products .collections{
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 990px) {
  .feature-products .nav-tabs {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 760px) {
  .feature-products .nav-tabs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 592px) {
  .hero-content {
    height: auto;
  }

  .feature-products .nav-tabs li a {
    font-size: 20px;
  }
}
