section.container-fluid {
  padding: 0;
}

.hero-content {
  min-height: 563px;
  height: 100%;
  width: 100%;
  background: #FAFAFA;

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  }
}

/* Media queries */

@media (max-width: 698px) {
  .hero-content .container {
    display: block;
  }
}

@media (max-width: 592px) {
  .hero-content {
    height: auto;
  }
}
