<header class="container-fluid">
  <div class="top container">
    <div class="links">
      <!-- <a href="">
        <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
      </a>
      <a href="">
        <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
      </a>
      <a href="">
        <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
      </a>
      <a href="">
        <fa-icon [icon]="['fab', 'google-plus-g']"></fa-icon>
      </a> -->
    </div>
    <div class="login" *ngIf="isAuthenticated === false">
      <a [routerLink]="['/home/auth/login']">Login</a>
      <span>or</span>
      <a [routerLink]="['/home/auth/register']">Create an Account</a>
    </div>
    <div class="login" *ngIf="isAuthenticated === true">
      <button (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<nav class="navigation container">
  <div class="brand">
    <div class="brand-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <a [routerLink]="['/home']">Auction</a>
  </div>
  <div class="search">
    <div class="search-wrapper">
      <input
        #searchInput
        type="search"
        placeholder="Try enter: Shoes"
        (search)="onSearch($event, searchInput)"
      />
      <fa-icon
        [icon]="['fas', 'search']"
        (click)="onSearch($event, searchInput)"
      ></fa-icon>
    </div>
  </div>
  <div class="nav-links">
    <a [routerLink]="['/home']" routerLinkActive="active">home</a>
    <a [routerLink]="['/shop']" routerLinkActive="active">shop</a>
    <span appDropdown *ngIf="isAuthenticated">
      <a [routerLink]="['/account']" routerLinkActive="active">my account</a>
      <ul class="dropdown">
        <li>
          <a [routerLink]="['/account/profile']" routerLinkActive="active"
            ><span>Profile</span></a
          >
        </li>
        <!-- <li>
          <a href="" class="active"><span>Become Seller</span></a>
        </li> -->
        <li>
          <a [routerLink]="['/account/bids']" routerLinkActive="active"
            ><span>Your Bids</span></a
          >
        </li>
        <li>
          <a [routerLink]="['/account/wishlist']" routerLinkActive="active"
            ><span>Wishlist</span></a
          >
        </li>
        <li>
          <a [routerLink]="['/account/settings']" routerLinkActive="active"
            ><span>Settings</span></a
          >
        </li>
      </ul>
    </span>
  </div>
</nav>
