<app-breadcrumb [title]="'about us'" [other]="['shop /', 'about us']"></app-breadcrumb>

<section class="about container">
  <h1>About Us</h1>
  <div class="content">
    <div class="paragraphs">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus reiciendis tempora
        exercitationem autem eum veniam quo! Consequatur, qui facere ullam ipsum accusantium dicta
        quas sed fuga, tenetur nam hic alias maiores, error dolor esse! Quisquam fugiat autem enim,
        praesentium a voluptatum similique labore in temporibus obcaecati cumque earum unde
        recusandae nulla nostrum architecto quaerat. Quidem placeat alias facere quibusdam
        architecto nesciunt consectetur tenetur perferendis blanditiis, quia necessitatibus
        asperiores adipisci ut accusamus voluptatum amet vitae impedit aliquam eum velit rerum
        consequuntur eaque! Natus modi incidunt recusandae nisi autem et itaque, vero, quos, dolorum
        quae voluptas alias eligendi veritatis quidem esse assumenda possimus voluptatibus
        voluptatem odio at quasi. Nobis magnam, eligendi odit mollitia similique consequuntur quia
        asperiores dolores labore impedit optio repellendus, exercitationem voluptas voluptatibus!
        Ratione praesentium facilis doloremque corrupti fuga nostrum aspernatur reprehenderit cum,
        labore itaque maxime, fugit, odio iste voluptate. Maiores perferendis consequatur, assumenda
        error aliquam ipsa iste ratione.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum nisi fugiat aspernatur fugit
        ducimus impedit asperiores sequi, reiciendis sunt vero labore quaerat itaque at quos
        voluptates voluptate dolor adipisci saepe dolores autem fuga. Soluta sed consequatur
        obcaecati ea distinctio ab tempora, exercitationem odio nisi cumque assumenda nihil qui non
        repellendus fugiat tenetur dolorem cum! Odio unde ad consectetur fugiat facere pariatur
        quibusdam facilis molestiae amet est vitae laborum, velit dolor!
      </p>
    </div>
    <div class="images">
      <img src="assets/img1.jpg" alt="durum doner" />
      <div class="two-images">
        <img src="assets/img2.jpg" alt="beard" />
        <img src="assets/img3.jpg" alt="kid" />
      </div>
    </div>
  </div>
</section>
