<div class="form-group" [formGroup]="form">
  <label><span>*</span>{{ title }}</label>
  <div class="input">
    <input
      [owlDateTimeTrigger]="dt1"
      [owlDateTime]="dt1"
      placeholder="{{ placeholder }}"
      formControlName="{{ controlName }}"
    />
    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
    <fa-icon [icon]="['fas', 'calendar-alt']"></fa-icon>
  </div>
  <span *ngIf="input.invalid && input.touched">
    <span *ngIf="input.errors['required']">{{ title }} is required</span>
    <span *ngIf="input.errors['today']"
      >Auction cannot start in the past. Please choose tomorrow or some other date in the future</span
    >
    <span *ngIf="input.errors['tomorrow']"
      >Auction cannot end in the past. Please choose day after tomorrow or some other date in the future</span
    >
    <span *ngIf="input.errors['gthenStart']"
      >Auction should end at least a day after auction start date</span
    >
  </span>
  <span *ngIf="input.invalid" class="async">
    <span *ngIf="input.errors && input.errors['async']">{{ input.errors["async"] }}</span>
  </span>
</div>
