<div class="collection">
  <div class="img">
    <img [src]="item.picture" [alt]="item.name" />
    <div class="buttons">
      <!-- <button type="button">
        Watchlist <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </button> -->
      <a [routerLink]="['/shop/products', item.subcategoryId, item.id]"
        >Bid <fa-icon [icon]="['fas', 'gavel']"></fa-icon
      ></a>
    </div>
  </div>
  <h5>
    <a [routerLink]="['/shop/products', item.subcategoryId, item.id]">{{
      item.name
    }}</a>
  </h5>
  <p>Start From {{ item.price | currency }}</p>
</div>
