@import "mixins";
@import "variables";

.modal {
  @include heightWidth(100%, 100%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  @media (max-width: 992px) {
    @include flex(center, center);
  }

  .container {
    @include flex($justify: center, $direction: column);
    @include heightWidth(100%, 850px);
    position: relative;
    z-index: 2;
    padding: 0;

    @media (max-width: 850px) {
      width: 100%;
    }

    button {
      position: absolute;
      right: 20px;
      top: 20px;
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      color: getColor(red);
      font-size: 34px;
      padding: 0;
      z-index: 5;

      fa-icon {
        @include heightWidth(35px, 35px);
        fill: getColor(light_black);
      }
    }

    .big-picture {
      position: relative;
      width: 100%;

      img {
        @include heightWidth(500px, 100%);
        object-fit: scale-down;
      }

      span {
        @include heightWidth(50px, 80px);
        position: absolute;
        z-index: 1;
        cursor: pointer;
        font-size: 40px;
        color: getColor(white);
        top: 50%;
        transform: translate(-50%, 0);
        display: block;
        mix-blend-mode: difference;

        fa-icon {
          @include flex(center, center);
          height: 100%;
        }

        &.left {
          left: 45px;
        }

        &.right {
          right: -35px;
        }

        &:hover {
          background: getColor(light_purple);
          color: getColor(light_black);
          transition: all 0.125s ease-in-out;
          mix-blend-mode: normal;
        }
      }
    }

    .image-pagination {
      @include flex(center, $wrap: nowrap);
      background: getColor(white);
      margin-top: 30px;
      width: 100%;

      .images {
        @include flex(center, $wrap: nowrap);
        @include heightWidth(100px, 100%);
        overflow-x: hidden;

        .img {
          @include flex(center, center);
          @include margin($all: 0 4px);
          @include padding($all: 5px);
          height: 80px;
          min-width: 100px;
          cursor: pointer;
          border: 2px solid transparent;
          filter: contrast(30%);
          transition: filter 0.3s ease-in-out, transform 0.8s ease-in-out,
            -webkit-filter 0.3s ease-in-out, -webkit-transform 0.8s ease-in-out;

          @media (max-width: 1200px) {
            @include margin($all: 0 8px);
          }

          &.active,
          &:hover {
            border: 2px solid getColor(purple);
            filter: contrast(100%);
          }

          img {
            @include heightWidth(80px, 80px);
            object-fit: scale-down;
          }
        }
      }

      span {
        font-size: 30px;
        cursor: pointer;
        mix-blend-mode: difference;
        color: getColor(white);
      }

      @media (max-width: 850px) {
        margin-top: 30px;
      }
    }
  }
}

.backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}
