<app-breadcrumb title="Reset Password"></app-breadcrumb>

<app-alert
  *ngIf="message"
  [message]="message"
  [closable]="success ? false : true"
  (closeAlert)="clearMessages()"
  [type]="success"
></app-alert>

<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Reset Password</h1>
    <div class="wrapper">
      <app-input
        id="password"
        title="Password"
        placeholder="Enter Password"
        type="password"
        controlName="password"
        [parentForm]="form"
        [input]="form.get('password')"
        pattern="Password must include at least one of each type: lowercase, uppercase, number and
        special symbol such as (!@#$%)!!"
        [showErrors]="showErrors"
      ></app-input>
      <button type="submit" [disabled]="!isValidForm || isClicked">Reset Password</button>
    </div>
  </form>
</section>
