@import "mixins";

.price {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  padding: 15px 20px;
  margin: 0;
  margin-bottom: 20px;
  max-height: 250px;
  overflow-y: auto;
}

.price h4 {
  @include fontMixin(14px, bold, 0.49px, purple, $transform: uppercase);
  margin: 0;
  margin-bottom: 31px;
}

::ng-deep {
  .price .ng5-slider .ng5-slider-bar {
    background: #d8d8d8;
    border-radius: 1px;
    height: 2px;
  }
  .price .ng5-slider .ng5-slider-selection {
    background: #8367d8;
    border-radius: 1px;
  }

  .price .ng5-slider .ng5-slider-pointer {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #e4e5ec;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.03);
    top: 50%;
    transform: translateY(-50%);
    outline: none;
  }

  .price .ng5-slider .ng5-slider-pointer:after,
  .price .ng5-slider .ng5-slider-pointer:hover:after,
  .price .ng5-slider .ng5-slider-active:after,
  .price .ng5-slider .ng5-slider-active:hover:after {
    border-radius: 50%;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    background-color: #8367d8 !important;
    transform: translate(-50%, -50%);
  }

  .price .ng5-slider .ng5-slider-limit {
    display: none;
  }

  .bar {
    fill: getColor(lighter_gray2);
  }

  .price .ng5-slider {
    margin: 0;
    top: -19px;
  }

  .price .ng5-slider .ng5-slider-bubble {
    padding: 10px 3px;
    top: 100%;
}
}

.price p {
  @include fontMixin(14px, regular, 0.49px, gray);
}
