<app-breadcrumb
  title="shop"
  [other]="[
    { value: 'shop /', link: '/shop' },
    { value: breadcrumbSubcategory, link: '' }
  ]"
></app-breadcrumb>

<section class="shop-page container">
  <div class="filters">
    <app-categories-list
      [categories]="categories"
      [categoryId]="categoryId"
      [subcategoryId]="subcategoryId"
      [shop]="true"
    ></app-categories-list>
    <app-shop-filters
      [brand]="true"
      [values]="brands"
      [brandId]="filterProduct.brandId"
      (resetFilter)="resetProductFilter($event)"
      (dispatchActions)="dispatchActions($event)"
      (setBrandId)="setBrandId($event)"
    ></app-shop-filters>
    <ng-template [ngIf]="showIfKeysLength(prices)">
      <app-shop-price
        [prices]="prices"
        [priceRange]="priceRange"
        (changeValues)="changePriceValues($event)"
      ></app-shop-price>
    </ng-template>
    <app-shop-filters
      [filterValueIds]="filterProduct.filterValueIds"
      [brand]="false"
      [values]="filters"
      (resetFilter)="resetProductFilter($event)"
      (dispatchActions)="dispatchActions($event)"
    ></app-shop-filters>
    <button
      *ngIf="touched || filterProduct.filterValueIds.length > 0"
      type="button"
      (click)="resetFilterClick()"
    >
      Clear Filters
    </button>
  </div>
  <app-shop-navigation
    [products]="products"
    [noMore]="noMore"
    (loadMore)="loadMoreProducts()"
    (changeOrderBy)="changeOrderBy($event)"
  ></app-shop-navigation>
</section>
