<app-breadcrumb
  title="shop"
  [other]="[
    { value: 'shop /', link: '/shop' },
    { value: subcategory, link: '' }
  ]"
></app-breadcrumb>

<section class="shop-page container">
  <div class="filters">
    <ul class="categories">
      <h4>Product Categories</h4>
      <li
        [defaultOpen]="categoryId === category.id"
        appDropdownNoautoclose
        *ngFor="let category of categories"
      >
        {{ category.name }}
        <ul>
          <li
            [ngClass]="{ active: subcategoryId === subcategory.id }"
            *ngFor="let subcategory of category.Subcategories"
          >
            <a [routerLink]="['/shop', category.id, subcategory.id]"
              >{{ subcategory.name }} ({{ subcategory.number_of_products }})</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <ul class="colors">
      <h4>Brands</h4>
      <li
        *ngFor="let brand of brands"
        [ngClass]="{ active: brandId === brand.id }"
      >
        <p (click)="filterClicked(true, brand.id)">
          {{ brand.name }} ({{ brand.number_of_products }})
        </p>
      </li>
    </ul>
    <ng-template [ngIf]="showIfKeysLength(prices)">
      <app-shop-price
        [prices]="prices"
        (changeValues)="changeValues($event)"
      ></app-shop-price>
    </ng-template>
    <ul class="colors" *ngFor="let filter of filters">
      <h4>{{ filter.name }}</h4>
      <li
        *ngFor="let vals of filter.FilterValues"
        [ngClass]="{
          active: checkActivity(vals.id)
        }"
      >
        <p (click)="filterClicked(false, filter.id, vals.id)">
          {{ vals.value }} ({{ vals.Products.length }})
        </p>
      </li>
    </ul>
  </div>
  <app-shop-navigation [products]="products"></app-shop-navigation>
</section>
