<div class="pictures">
  <div class="big-picture">
    <span
      class="left"
      [ngClass]="{ hidden: currentIndex == 0 }"
      (click)="arrowClicked('left')"
      ><fa-icon [icon]="['fas', 'chevron-left']"></fa-icon
    ></span>
    <ngx-image-zoom
      [thumbImage]="activeImage"
      [fullImage]="activeImage"
      [enableLens]="true"
      [circularLens]="true"
      [lensWidth]="200"
      [lensHeight]="200"
    ></ngx-image-zoom>
    <span
      class="right"
      [ngClass]="{ hidden: currentIndex == images.length - 1 }"
      (click)="arrowClicked('right')"
      ><fa-icon [icon]="['fas', 'chevron-right']"></fa-icon
    ></span>
  </div>
  <div class="pagination">
    <ng-template ngFor let-imgs let-index="index" [ngForOf]="images">
      <div class="img" [ngClass]="{ active: currentIndex === index }">
        <img
          [src]="imgs.image"
          alt=""
          (click)="imgClicked(imgs.image, index)"
        />
      </div>
    </ng-template>
  </div>
</div>
