<app-breadcrumb
  [title]="'privacy and policy'"
  [other]="['shop /', 'privacy and policy']"
></app-breadcrumb>
<section class="container">
  <div class="privacy">
    <h1>Some title here</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus
      dolorum iusto dolorem cum nam vitae voluptatum sunt ea impedit error
      quidem soluta nemo hic aspernatur architecto debitis non at, facilis
      deleniti id harum suscipit quas rem voluptatibus? Incidunt cumque iure
      suscipit rerum non ipsam quae eum quas voluptatem consequatur laudantium
      amet enim placeat deleniti unde odit accusantium quibusdam architecto
      quod, vero officiis. Eius, tempore. Maiores quis sed, pariatur eius illum
      exercitationem, ipsa reiciendis impedit voluptatibus facilis, atque nihil
      iusto corporis? Voluptas ducimus sit consequuntur possimus perferendis
      molestias labore dignissimos iusto dolore, nulla delectus esse eum aliquam
      nam earum vitae magnam.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit
      recusandae maiores facere? Aliquid nulla velit exercitationem quas
      perspiciatis impedit ducimus labore veritatis quidem sit, eos temporibus
      tempora. Natus fugit iure mollitia facere totam optio tenetur, ratione
      veritatis ad sunt doloremque cupiditate! Quod suscipit qui aperiam
      sapiente unde architecto. Porro assumenda quibusdam molestiae reiciendis,
      optio adipisci quasi ad incidunt officia necessitatibus?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ea,
      dignissimos dicta veniam facere, ullam culpa expedita deserunt, inventore
      ut quidem obcaecati possimus! Corrupti ipsa architecto ipsum minima
      eveniet sint!
    </p>
  </div>
</section>
