@import "mixins";
@import "variables";

.confirm-deactivation {
  @include flex(center, center);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;

  .backdrop {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #11111162;
  }

  .content {
    @include flex(center, center, column);
    height: 200px;
    background: getColor(white);
    z-index: 1;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.297);

    h3 {
      @include fontMixin(18px, regular, 0.63px, light_black);
    }

    .buttons {
      @include flex(center, space-between);
      width: 100%;

      button {
        @include fontMixin(16px, bold, 0.63px, light_black, $transform: uppercase);
        @include flex(center, center);
        @include fontMixin(18);
        color: getColor(light_black);
        box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
        background: getColor(white);
        height: 57px;
        padding: 0;
        width: 48%;
        outline: none;
        cursor: pointer;
      }

      .confirm {
        border: 3px solid getColor(light_green);
      }

      .close {
        border: 3px solid getColor(red);
      }
    }
  }
}
