<section class="confirm-deactivation">
  <div class="content">
    <h3>Are you sure you want to deactivate your account?</h3>
    <p> In order to login again you will need to ask for new activation link which can be found on Login page.</p>
    <p>After you deactivate account your currently active products will be deleted as well as any bid posted to those products.</p>
    <div class="cd-buttons">
      <button class="close" (click)="onCancleClicked()">Cancel</button>
      <button class="confirm" (click)="onConfirmClicked()">Confirm</button>
    </div>
  </div>
  <div class="backdrop" (click)="onCancleClicked()"></div>
</section>
