<div class="feature-products mb-168">
  <div class="container">
    <ul class="nav-tabs">
      <li>
        <a
          href=""
          [ngClass]="{ active: active === 'newArrivals' }"
          (click)="tabsChange($event, 'newArrivals')"
          >New Arrivals</a
        >
      </li>
      <li>
        <a
          href=""
          [ngClass]="{ active: active === 'topRated' }"
          (click)="tabsChange($event, 'topRated')"
          >Top Rated</a
        >
      </li>
      <li>
        <a
          href=""
          [ngClass]="{ active: active === 'lastChance' }"
          (click)="tabsChange($event, 'lastChance')"
          >Last Chance</a
        >
      </li>
    </ul>
    <div class="collections">
      <p *ngIf="products.length === 0; else newA">No products</p>
      <ng-template #newA>
        <app-collection-item *ngFor="let item of products" [item]="item"></app-collection-item>
      </ng-template>
    </div>
    <div class="button-wrapper" *ngIf="showButton">
      <button class="load-more-button" type="button" (click)="loadMore($event)">
        Load More
      </button>
    </div>
  </div>
</div>
