<app-breadcrumb [title]="'login'"></app-breadcrumb>
<app-alert
  *ngIf="message"
  [message]="message"
  (closeAlert)="clearMessages()"
  [type]="success"
></app-alert>
<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <div class="wrapper pb-51">
      <app-input
        id="email"
        title="Email"
        type="email"
        controlName="email"
        [parentForm]="form"
        [input]="form.get('email')"
        [showErrors]="showErrors"
        pattern="Please enter valid email address !!"
      ></app-input>
      <app-input
        id="password"
        title="Password"
        type="password"
        controlName="password"
        [parentForm]="form"
        [input]="form.get('password')"
        [showErrors]="showErrors"
      ></app-input>
      <div class="form-group flex">
        <input type="checkbox" id="remember" formControlName="remember" />
        <fa-icon [icon]="['fas', 'check']"></fa-icon>
        <label for="remember">Remember me</label>
      </div>
      <button type="submit" class="login-button">
        Login
      </button>
      <div class="social-login">
        <a [href]="url + '/auth/facebook'" class="facebook-link"
          ><fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>login with
          facebook</a
        >
        <a [href]="url + '/auth/google'" class="gmail-link"
          ><fa-icon [icon]="['fab', 'google-plus-square']"></fa-icon>login with
          gmail</a
        >
      </div>
      <a [routerLink]="['/home/auth/forgot-password']" class="forgot-password"
        >Forgot Password?</a
      >
    </div>
  </form>
</section>
