<section class="table">
  <table [ngClass]="{ 'mw-1800': type === 'bids' }">
    <thead>
      <tr>
        <td>Item</td>
        <td>Name</td>
        <td>Time left</td>
        <td *ngIf="type === 'bids'">Bid date</td>
        <td>Price</td>
        <td *ngIf="type === 'bids'">Your bid</td>
        <td>No. bids</td>
        <td>Highest bid</td>
        <td>Status</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <ng-template [ngIf]="type === 'products'">
        <tr *ngFor="let item of values">
          <td>
            <img [src]="item.picture" alt="" />
          </td>
          <td>
            {{ item.name }}
          </td>
          <td>
            {{
              item.status === "open"
                ? (item.auctionEnd | dateAgo: [{ agoOrLeft: "left" }])
                : "0"
            }}
          </td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.number_of_bids }}</td>
          <td>{{ item.highest_bid | currency }}</td>
          <td>
            <span [ngClass]="{ active: item.status === 'open' }">{{
              item.status
            }}</span>
          </td>
          <td>
            <a
              *ngIf="item.status === 'open'"
              [routerLink]="['/shop/products', item.subcategoryId, item.id]"
              >View</a
            >
          </td>
        </tr>
      </ng-template>
      <ng-template [ngIf]="type === 'bids'">
        <tr *ngFor="let item of values">
          <td>
            <img [src]="item.Product.picture" alt="" />
          </td>
          <td>
            {{ item.Product.name }}
          </td>
          <td>
            {{
              item.Product.status === "open"
                ? (item.Product.auctionEnd | dateAgo: [{ agoOrLeft: "left" }])
                : "0"
            }}
          </td>
          <td>{{ item.dateBid | date: "dd MMM yyyy" }}</td>
          <td>{{ item.Product.price | currency }}</td>
          <td>{{ item.price | currency }}</td>
          <td>{{ item.Product.number_of_bids }}</td>
          <td>{{ item.Product.highest_bid | currency }}</td>
          <td>
            <span [ngClass]="{ active: item.Product.status === 'open' }">{{
              item.Product.status
            }}</span>
          </td>
          <td>
            <a
              *ngIf="item.Product.status === 'open'"
              [routerLink]="[
                '/shop/products',
                item.Product.subcategoryId,
                item.Product.id
              ]"
              >View</a
            >
          </td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <p *ngIf="values.length === 0">No items</p>
</section>
