@import "mixins";
@import "variables";

.table {
  overflow-x: auto;
  padding-bottom: 20px;

  &.bids {
    min-width: 100%;
    max-width: 100%;
    overflow: hidden;
    table {
      max-width: 100%;
      thead {
        tr {
          td {
            min-width: 130px;
            max-width: 130px;
          }
        }
      }
    }
  }
}

table {
  background: getColor(white);
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  min-width: 1100px;

  thead {
    background: getColor(darker_white3);
    border: 1px solid getColor(light_gray);
    border-bottom: 0;

    tr {
      td {
        @include fontMixin(18px, regular, 0.63px, light_black);
        height: 60px;
        border: none;
        min-width: 100px;
        max-width: 120px;

        &:first-child {
          padding-left: 40px;
        }

        &:nth-child(2) {
          width: 200px;
        }

        &:nth-child(3) {
          width: 250px;
        }

        &:nth-child(7),
        &:nth-child(8) {
          width: 100px;
        }
      }
    }
  }

  tbody {
    tr {
      border: 1px solid getColor(light_gray);
      border-bottom: 0;
      border-top: 0;
      td {
        @include fontMixin(18px, regular, 0.63px, light_black);
        @include padding($all: 10px 20px 10px 0);
        min-width: 100px;
        max-width: 120px;

        &.highest-bid {
          @include fontMixin(18px, regular, 0.63px, light_green);
        }

        &.bid {
          @include fontMixin(18px, regular, 0.63px, light_blue);
        }

        &:first-child {
          padding-left: 40px;
        }

        &:nth-child(2) {
          @include fontMixin(18px, bold, 0.63px, light_black);
          width: 200px;
        }

        &:nth-child(3) {
          width: 250px;
        }

        &:nth-child(7),
        &:nth-child(8) {
          width: 100px;
        }

        img {
          @include heightWidth(80px, 80px);
          object-fit: scale-down;
        }

        span {
          @include flex(center, center);
          @include fontMixin(14px, bold, 0.49px, red, $transform: uppercase);
          height: 46px;
          background: getColor(darker_white3);

          &.active {
            @include fontMixin(
              14px,
              bold,
              0.49px,
              dark_green,
              $transform: uppercase
            );
          }
        }

        a {
          @include flex(center, center);
          @include fontMixin(
            16px,
            bold,
            0.56px,
            light_black,
            $transform: uppercase,
            $decoration: none
          );
          @include heightWidth(46px, 100px);
          background: getColor(white);
          border: 3px solid getColor(inputBorder);
          box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
          box-sizing: border-box;

          &.won {
            background: getColor(purple);
            color: getColor(white);
            border: 3px solid getColor(purple);
            box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
          }
        }
      }

      &.won {
        background: rgba(131, 103, 216, 0.3);
      }

      &.spacer {
        height: 10px;

        &:last-child {
          height: 55px;
        }
      }

      &:last-child {
        border-bottom: 1px solid getColor(light_gray);
      }
    }
  }
}
