$colors: (
  black: #000000,
  light_black: #252525,
  white: #ffffff,
  white2: #fffffe,
  darker_white: #fcfcfc,
  darker_white2: #fafafa,
  darker_white3: #f0f0f0,
  lighter_gray: #ececec,
  lighter_gray2: #e4e5ec,
  light_gray: #d8d8d8,
  gray: #9b9b9b,
  gray2: #979797,
  dark_gray: #3b3b3b,
  purple: #8367d8,
  light_purple: #c4bfd6,
  blue: #0072ce,
  blue2: #0066cc,
  dark_blue: #26337a,
  darker_blue: #000066,
  light_blue: #5b9ed6,
  blue_purple: #475993,
  blue_purple2: #415994,
  turquoise: #67b8bf,
  light_green: #6cc047,
  green: #6fffe9,
  dark_green: #417505,
  red: #cc0000,
  light_red: #cd5542,
  marron: #a6555f,
  orange: #ff9900,
  darker_orange: #ec982d,
  light_orange: #f6f2e5,
  gmail: #cd5542,
  gold: #ab944e,
  inputBorder: #e3e3e3
);

@function getColor($colorName) {
  @return map-get($colors, $colorName);
}
