@import '../../../scss/colors';
@import '../../../scss/mixins';

.wrapper {
  position: relative;
  min-width: 253px;
  height: 563px;

  button {
    @include heightWidth(40px, 253px);
    @include boxShadowBackground(true);
    border: none;
    display: none;

    &.show {
      border-bottom: 1px solid getColor(purple);
    }
  }

  .categories {
    @include margin($all: 0);
    @include padding($all: 0);
    @include boxShadowBackground(true, white);
    overflow-y: auto;
    height: 563px;
    min-width: 253px;
    max-width: 253px;
  }

  .subcategories {
    @include margin($all: 0);
    @include padding($all: 0);
    min-width: 253px;
    max-width: 253px;
    background: getColor(white);
    box-sizing: border-box;
    display: none;
  }

  .categories {
    h3 {
      @include margin(0, 20px);
      @include padding($top: 25px, $left: 20px);
      @include fontMixin(16px, bold, 0.56px, purple);
    }

    li > {
      p, a {
        @include flex(center);
        @include margin($all: 0);
        @include padding($all: 0 20px);
        @include fontMixin(16px, regular, 0.56px, light_black, $decoration: none);
        height: 49px;
        border-bottom: 1px solid getColor(lighter_gray);
        cursor: pointer;
      }
    }

    .subcategories li {
      > a {
        @include flex(center);
        @include margin($all: 0);
        @include padding($all: 0 0 0 30px);
        @include fontMixin(14px, regular, 0.56px, light_black, $decoration: none);
        border-bottom: 1px solid getColor(lighter_gray);
        cursor: pointer;
        border-bottom: none;
        height: 30px;
      }

      &:last-child > a {
        border-bottom: 1px solid getColor(lighter_gray);
      }
    }

    li > {
      p:hover, a:hover, p.open {
        color: getColor(purple);
        border-bottom: 1px solid getColor(purple);
      }
    }

    .subcategories li > a:hover {
      color: getColor(purple);
    }

    li > p.open ~ .subcategories {
      display: block;
    }
  }
}

@media (max-width: 698px) {
  .categories {
    display: none;
  }

  .wrapper {
    height: unset;

    button {
      display: block;

      &.show ~ .categories {
        position: absolute;
        z-index: 1000;
        display: block;
      }
    }
  }
}
