<div class="wrapper">
  <button [ngClass]="{ show: isOpen ? true : false }" (click)="toggle()">Categories</button>
  <ul class="categories">
    <h3>Categories</h3>
    <li *ngFor="let category of categories">
      <p appDropdownNoautoclose>{{ category.name }}</p>
      <ul class="subcategories">
        <li *ngFor="let subCat of category.Subcategories">
          <a href="">{{ subCat.name }}</a>
        </li>
      </ul>
    </li>
    <li><a [routerLink]="['/home/categories']">All Categories</a></li>
  </ul>
</div>
