<div class="card" [ngClass]="className" [formGroup]="formGroup" id="card-info">
  <div class="heading">
    <h3>Card Information</h3>
  </div>
  <div class="one-col">
    <div *ngIf="hasCard && !required">
      <p>
        You have saved one card already. If you want to change card please check
        box below.
      </p>
      <div class="checkbox">
        <label
          >Do you want to change credit card?
          <input type="checkbox" formControlName="changeCard"/><fa-icon
            [icon]="['fas', 'check']"
          ></fa-icon
        ></label>
      </div>
    </div>
    <div
      class="inputs"
      [ngStyle]="{
        display:
          ((!hasCard || changeCard) && !required) || (required && showCard)
            ? 'block'
            : 'none'
      }"
    >
      <div class="two-cols">
        <app-input
          id="cName"
          title="Name on card"
          placeholder="e.g. Adam Smith"
          type="text"
          controlName="cName"
          [parentForm]="formGroup"
          [input]="formGroup.get('cName')"
          profile="true"
          [showErrors]="true"
          [required]="required"
        ></app-input>
        <app-input
          id="cNumber"
          title="Card Number"
          placeholder="e.g. 4242 4242 4242"
          type="tel"
          controlName="cardNumber"
          [parentForm]="formGroup"
          [input]="formGroup.get('cardNumber')"
          profile="true"
          pattern="Invalid card number"
          minLength="13"
          maxLength="16"
          [showErrors]="true"
          [required]="required"
        ></app-input>
      </div>
      <div class="two-cols">
        <div class="two-cols">
          <app-date-input
            *ngIf="showCardExp()"
            [withDays]="false"
            label="Expiration Date"
            [defaultDate]="cardExp"
            [monthNumbers]="true"
            [form]="formGroup"
            [required]="required"
          ></app-date-input>
        </div>
        <app-input
          id="CVC"
          title="CVC/CW"
          placeholder="e.g. 1234"
          type="tel"
          controlName="cardCvc"
          [parentForm]="formGroup"
          [input]="formGroup.get('cardCvc')"
          profile="true"
          pattern="Invalid card cvc"
          minLength="3"
          maxLength="4"
          [showErrors]="true"
          [required]="required"
        ></app-input>
      </div>
      <span *ngIf="cardValidationError && !cardError">{{
        cardValidationError
      }}</span>
      <span *ngIf="cardError && !cardValidationError">{{ cardError }}</span>
      <span *ngIf="cardError && cardValidationError">{{ cardError }}</span>
    </div>
    <div
      class="inputs hascard"
      *ngIf="(hasCard && !changeCard) || (required && !showCard)"
    >
      <div class="two-cols">
        <div class="name">
          <label><span *ngIf="required">*</span>Name on card</label>
          <div class="cardName">
            {{ cardInfo.name }}
          </div>
        </div>
        <div class="number">
          <label><span *ngIf="required">*</span>Card Number</label>
          <div class="cardNumber">
            {{ cardInfo.number.slice(0, 4) }}
            {{ cardInfo.number.slice(4, 8) }}
            {{ cardInfo.number.slice(8, 12) }}
            {{ cardInfo.number.slice(12) }}
          </div>
        </div>
      </div>
      <div class="two-cols">
        <div class="two-cols">
          <app-date-input
            *ngIf="showCardExp()"
            [withDays]="false"
            label="Expiration Date"
            [defaultDate]="savedCardExp"
            [monthNumbers]="true"
            [form]="formGroup"
            [required]="required"
            [disabled]="true"
          ></app-date-input>
        </div>
        <div class="cvc">
          <label><span *ngIf="required">*</span>CVC/CW</label>
          <div class="ccvc">
            {{ cardInfo.cvc }}
          </div>
        </div>
      </div>
      <span *ngIf="cardValidationError && !cardError">{{
        cardValidationError
      }}</span>
      <span *ngIf="cardError && !cardValidationError">{{ cardError }}</span>
      <span *ngIf="cardError && cardValidationError">{{ cardError }}</span>
    </div>
  </div>
</div>
