<ul class="colors" *ngIf="brand">
  <h4>Brands</h4>
  <li *ngFor="let brand of values" [ngClass]="{ active: brandId === brand.id }">
    <p (click)="filterClicked(true, brand.id)">
      {{ brand.name }} ({{ brand.number_of_products }})
    </p>
  </li>
</ul>

<ng-template [ngIf]="!brand">
  <ul class="colors" *ngFor="let filter of values">
    <h4>{{ filter.name }}</h4>
    <li
      *ngFor="let vals of filter.FilterValues"
      [ngClass]="{
        active: checkActivity(vals.id)
      }"
    >
      <p (click)="filterClicked(false, filter.id, vals.id)">
        {{ vals.value }} ({{ vals.Products.length }})
      </p>
    </li>
  </ul>
</ng-template>
