@import "mixins";

.colors {
  background: #ffffff;
  border: 1px solid #d8d8d8;
  padding: 15px 20px;
  margin: 0;
  margin-bottom: 20px;
  max-height: 576px;
  overflow-y: auto;
}

.colors ul {
  margin: 0;
  padding: 0;
  display: none;
}

.colors h4 {
  @include fontMixin(14px, bold, 0.49px, purple, $transform: uppercase);
  margin: 0;
  margin-bottom: 31px;
}

.colors > li {
  @include fontMixin(
    14px,
    regular,
    0.49px,
    light_black,
    $transform: capitalize
  );
  @include flex(center,space-between);
  position: relative;
  cursor: pointer;
  position: relative;
  height: auto;
}

.colors > li.active {
  color: getColor(purple);

  &:before,
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 4px;
    height: 15px;
    background: getColor(light_black);
    pointer-events: none;
    cursor: pointer;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}

.colors > li > p {
  @include flex($align: center);

  > span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    margin-right: 10px;
  }
}
