<div
  class="first-step"
  [ngClass]="{ show: currentStep == 1, hide: currentStep != 1 }"
>
  <app-input
    id="name"
    title="What do u sell?"
    type="text"
    controlName="name"
    [parentForm]="form"
    [input]="form.get('name')"
    [showErrors]="true"
    [minLength]="1"
    [maxLength]="61"
    [required]="true"
  ></app-input>
  <p>Up to 10 words (60 characters)</p>
  <div class="category">
    <app-select-input
      [default]="categoryData.name || 'Select category'"
      [values]="categories"
      [object]="true"
      (valueChange)="changeCategory($event)"
      [error]="categoryError"
      [invalid]="categoryError"
      [required]="true"
    ></app-select-input>
    <app-select-input
      [default]="subcategoryData.name || 'Select subcategory'"
      [values]="subcategories"
      liWhenValuesLength0="Please select category"
      [object]="true"
      (valueChange)="changeSubcategory($event)"
      [error]="subcategoryError"
      [invalid]="subcategoryError"
      [required]="true"
    ></app-select-input>
  </div>
  <div class="brand">
    <app-select-input
      [default]="brandData.name || 'Select brand'"
      [values]="brands"
      liWhenValuesLength0="Please select subcategory"
      [object]="true"
      (valueChange)="changeBrand($event)"
      [error]="brandError"
      [invalid]="brandError"
      [required]="true"
    ></app-select-input>
  </div>
  <div class="filters" *ngIf="filters.length > 0">
    <app-select-input
      *ngFor="let filter of filters; let index = index"
      [default]="getselectedFilterValue(filter.id) || 'Select ' + filter.name"
      [values]="filter.FilterValues"
      liWhenValuesLength0="Please select filter.name"
      [object]="true"
      [parentId]="filter.id"
      (valueChange)="changeFilter($event)"
      [error]="filterErrors[index] || ''"
      [invalid]="filterErrors[index] || false"
      [required]="true"
    ></app-select-input>
  </div>
  <div class="description">
    <app-input
      id="description"
      title="Description"
      controlName="description"
      [parentForm]="form"
      [input]="form.get('description')"
      [showErrors]="true"
      [isInput]="false"
      profile="true"
      [maxLength]="701"
      [required]="true"
    ></app-input>
    <p>700 characters</p>
  </div>
  <app-upload-images [form]="form"></app-upload-images>
  <div class="add-product-buttons">
    <button
      class="prev"
      *ngIf="!hasActiveProduct || stepNumber > 1"
      (click)="buttonClicked()"
    >
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>back
    </button>
    <button class="next" (click)="buttonClicked(false)" [disabled]="!isValid">
      next<fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
    </button>
  </div>
</div>
