.all-categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 50px 0 400px 0;
  width: 100%;
}

.list {
  list-style: none;
}

.list li.heading {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #252525;
  letter-spacing: 0.84px;
  margin: 20px 0;
}

.list li {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.56px;
  margin: 13px 0;
}

.list li a {
  color: #252525;
  text-decoration: none;
}

@media (max-width: 750px) {
  .all-categories {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 575px) {
  .all-categories {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .all-categories {
    grid-template-columns: repeat(1, 1fr);
  }
}
