@import "mixins";
@import "variables";

img {
  @include heightWidth(264px, 198px);
  margin-bottom: 11px;
  object-fit: scale-down;
}

.wrapper-input-file {
  label {
    @include fontMixin(16px, bold, 0.56px, light_black, $transform: uppercase);
    @include flex(center, center);
    @include heightWidth(49px, 198px);
    background: getColor(white);
    border: 3px solid getColor(inputBorder);
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.05);
    padding: 0;
    cursor: pointer;
  }

  input[type="file"] {
    display: none;
  }
}
