@import "mixins";
@import "variables";

::ng-deep {
  .group {
    .form-group {
      margin: 0 !important;
    }
  }

  .card-information {
    .group {
      .form-group {
        margin: 0 !important;
      }
      .select-wrapper {
        margin-top: 8px;
        .select {
          width: 100% !important;
        }
      }
    }
  }
}

.group {
  @include flex($justify: space-between);

  app-input {
    width: 48%;
  }

  @media (max-width: 450px) {
    flex-wrap: wrap;

    app-input {
      width: 100%;
      margin-top: 20px;
    }
  }
}

.checkbox {
  label {
    position: relative;
    cursor: pointer;
    padding-left: 25px;

    fa-icon {
      @include flex(center, center);
      opacity: 0;
      z-index: 2;
      font-size: 15px;
    }

    input {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      display: none;

      &:checked ~ fa-icon {
        opacity: 1;
      }
    }

    &:before,
    fa-icon {
      @include heightWidth(20px, 20px);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:before {
      content: "";
      background: getColor(white);
      border: 1px solid getColor(light_gray);
      box-sizing: border-box;
    }
  }

  p {
    @include fontMixin(14px, regular, 0.63px, gray, $lineH: 26px);
    margin: 0;
    padding-left: 25px;

    &:nth-child(2) {
      margin-top: 8px;
    }
  }

  &.second {
    margin-top: 39px;
  }
}

::ng-deep {
  .card-information {
    margin-top: 75px;

    .one-col {
      @include padding($all: 0px 0 63px);

      .inputs {
        .two-cols {
          @include flex($justify: space-between);
          padding: 0;

          app-input,
          .card-number,
          .name,
          .number,
          .exp-date,
          .cvc {
            width: 49%;
          }

          .card-number {
            label {
              span {
                @include fontMixin(18px, regular, 0.63px, red);
                display: inline !important;
              }
            }
          }

          @media (max-width: 550px) {
            flex-wrap: wrap;

            app-input,
            .card-number,
            .name,
            .number,
            .exp-date,
            .cvc {
              width: 100%;
            }
          }
        }
      }
    }

    h3 {
      @include fontMixin(20px, regular, 0.7px, light_black);
      padding-bottom: 8px;
      border-bottom: 4px solid getColor(lighter_gray);
      margin-bottom: 35px;
    }
  }
}

.mt-39 {
  margin-top: 39px;
}

.invalid-card {
  @include fontMixin(14px, light, $color: red);
  @include margin($all: 5px 0 10px);
  display: block;
}
