<div
  class="last-step"
  [formGroup]="form"
  [ngClass]="{ show: currentStep == 3, hide: currentStep != 3 }"
>
  <div class="checkbox second" *ngIf="sowUseSavedInfo()">
    <label
      >Use saved info
      <input type="checkbox" formControlName="useOptionalInfo"/><fa-icon
        [icon]="['fas', 'check']"
      ></fa-icon
    ></label>
  </div>
  <app-input
    id="address"
    title="Address"
    placeholder="e.g. 722 Nostrand Ave, Brooklyn"
    type="text"
    controlName="address"
    [parentForm]="form"
    [input]="form.get('address')"
    showErrors="true"
    [minLength]="1"
    [maxLength]="101"
    [required]="true"
  ></app-input>
  <div class="group mt-39">
    <app-input
      id="country"
      title="Country"
      placeholder="e.g.678 USA"
      type="text"
      controlName="country"
      [parentForm]="form"
      [input]="form.get('country')"
      showErrors="true"
      [minLength]="1"
      [maxLength]="101"
      [required]="true"
    ></app-input>
    <app-input
      id="city"
      title="City"
      placeholder="e.g. New York"
      type="text"
      controlName="city"
      [parentForm]="form"
      [input]="form.get('city')"
      showErrors="true"
      [minLength]="1"
      [maxLength]="101"
      [required]="true"
    ></app-input>
  </div>
  <app-input
    id="zip"
    title="Zip code"
    placeholder="e.g. 10005"
    type="text"
    controlName="zip"
    [parentForm]="form"
    [input]="form.get('zip')"
    showErrors="true"
    [minLength]="5"
    [maxLength]="6"
    [required]="true"
  ></app-input>
  <app-input
    id="phone"
    title="Phone"
    placeholder="e.g. +38761222333"
    type="tel"
    controlName="phone"
    [parentForm]="form"
    [input]="form.get('phone')"
    showErrors="true"
    [minLength]="7"
    [maxLength]="16"
    [required]="true"
  ></app-input>
  <div class="checkbox" *ngIf="!payment">
    <label
      >Do you want to bear shipping cost?
      <input type="checkbox" formControlName="freeShipping"/><fa-icon
        [icon]="['fas', 'check']"
      ></fa-icon
    ></label>
    <p>The average price of shipping cost is $10.00.</p>
    <p>You have to provide us Billing information.</p>
  </div>
  <div class="checkbox second" *ngIf="!payment">
    <label
      >Feature product
      <input type="checkbox" formControlName="featureProduct"/><fa-icon
        [icon]="['fas', 'check']"
      ></fa-icon
    ></label>
    <p>You will be charged $10.00 for featuring product.</p>
  </div>
  <div class="checkbox second" *ngIf="hasCard">
    <label
      >Use saved card <input type="checkbox" formControlName="useCard"/><fa-icon
        [icon]="['fas', 'check']"
      ></fa-icon
    ></label>
  </div>
  <app-card-info
    [formGroup]="form.controls.cardInfo"
    [form]="form"
    className="card-information"
    [required]="true"
    [showCard]="showCard"
    [cardError]="cardError"
    [cardExp]="cardExp"
    [savedCardExp]="savedCardExp"
  ></app-card-info>
  <div class="add-product-buttons">
    <button class="prev" (click)="buttonClicked()" *ngIf="!payment">
      <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>back
    </button>
    <button
      class="done"
      type="submit"
      (click)="process()"
      [ngClass]="{ 'ml-auto': payment }"
      [disabled]="!isValidStep || clicked"
    >
      done
    </button>
  </div>
</div>
