.page-not-found {
  text-align: center;
}

.content {
  margin: 100px 0 200px 0;
}

.content a {
  text-decoration: none;
  font-size: 24px;
  color: #8367D8;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.not-found {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20vw;
  color: #8367D8;
  letter-spacing: 10.5px;
  text-shadow: 8px 10px 0 #DADADA;
  margin: 0;
}

.message {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #252525;
  letter-spacing: 1.26px;
}

.content button {
  background: #FFFFFF;
  border: 3px solid #8367D8;
  box-shadow: 3px 3px 0 0 rgba(131,103,216,0.31);
  outline: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #252525;
  letter-spacing: 0.63px;
  text-transform: uppercase;
  height: 57px;
  width: 179px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.brand-icon {
  margin-right: 14px;
  padding-top: 2px;
}

.brand-icon span {
  height: 20px;
  width: 4px;
  background: #C4BFD6;
  display: inline-block;
  border-radius: 1px;
}

.brand-icon span:nth-child(1) {
  transform: rotate(47deg);
}

.brand-icon span:nth-child(2) {
  height: 16px;
  transform: rotate(-45deg) translateX(6.5px) translateY(-4px);
}

.brand-icon span:nth-child(3) {
  height: 16px;
  transform: rotate( 90deg) translateX(100%) translateY(-3px);
}
