<div class="collection">
  <div class="image">
    <img [src]="item.picture" [alt]="item.name" />
  </div>
  <div class="details">
    <a [routerLink]="['/shop/products', item.subcategoryId, item.id]">
      <h3>{{ item.name }}</h3>
    </a>
    <p class="details">{{ item.details | truncateText: 200 }}</p>
    <p class="price">Starts from {{ item.price | currency }}</p>
    <div class="buttons">
      <button type="button">
        Watchlist <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </button>
      <a [routerLink]="['/shop/products', item.subcategoryId, item.id]"
        >Bid <fa-icon [icon]="['fas', 'gavel']"></fa-icon
      ></a>
    </div>
  </div>
</div>
