<app-breadcrumb
  [title]="'terms and conditions'"
  [other]="['shop /', 'terms and conditions']"
></app-breadcrumb>

<section class="container">
  <div class="terms">
    <h1 class="h1">Introduction</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet tempora
      veniam velit laborum eius reprehenderit nemo, explicabo et blanditiis
      quaerat quam totam, quae voluptate, vitae minus magni iste quo sapiente
      quidem error saepe perspiciatis libero! Architecto, praesentium quam, esse
      sapiente velit eius perferendis nostrum amet ipsum voluptate nam quidem
      exercitationem ab adipisci in qui vel dignissimos nemo repellendus
      suscipit rem odio molestiae mollitia. Provident dolore dignissimos et
      cupiditate? Doloremque sit aliquam excepturi soluta modi deserunt quam
      minus alias reiciendis maiores labore ratione, laudantium, neque
      repellendus atque magni, cupiditate ullam rerum aliquid fugit pariatur in?
      Ullam quis reprehenderit ducimus labore deleniti!
    </p>
    <h4>Some title here</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora unde
      sapiente odio quod laudantium maiores consectetur pariatur, rerum minus
      minima tempore temporibus quasi deserunt quae autem natus in amet, fuga
      repudiandae? Ex dolore illum culpa incidunt sunt accusantium quam dicta
      animi libero quisquam. Dolorem voluptate, ab dignissimos iste reiciendis
      recusandae.
    </p>
    <h4>Some title here</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora unde
      sapiente odio quod laudantium maiores consectetur pariatur, rerum minus
      minima tempore temporibus quasi deserunt quae autem natus in amet, fuga
      repudiandae? Ex dolore illum culpa incidunt sunt accusantium quam dicta
      animi libero quisquam. Dolorem voluptate, ab dignissimos iste reiciendis
      recusandae.
    </p>
  </div>
</section>
