<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(http-equiv="Content-Type", content="text/html, charset=UTF-8")
        meta(name="viewport", content="width=device-width; initial-scale=1.0; maximum-scale=1.0;")
        meta(name="viewport", content="width=600,initial-scale = 2.3,user-scalable=no")
        title Auctionapp Reset Password
        style(type="text/css").
            html {line-height: 1.15;-webkit-text-size-adjust: 100%;height: 100%;margin: 0;width: 100%;font-family: "Lato", sans-serif;} body { font-family: "Lato", sans-serif; width: 100%; background-color: #ffffff; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; mso-margin-top-alt: 0px; mso-margin-bottom-alt: 0px; mso-padding-alt: 0px 0px 0px 0px;} p { margin-top: 0; margin-bottom: 0; padding-top: 0; padding-bottom: 0; } table {font-size: 14px;border: 0;} @media only screen and (max-width: 640px) { .container440 { width: 440px !important;} }@media only screen and (max-width: 479px) { .container440 { width: 280px !important;} }

    body(class="respond", leftmargin="0", topmargin="0", marginwidth="0", marginheight="0")
        table(border="0", width="100%", cellpadding="0", cellspacing="0", bgcolor="ffffff")
            tr
                td(align="center")
                    table(border="0", align="center", width="590", cellpadding="0", cellspacing="0", class="container440")
                        tr
                            td(align="center")
                                table(border="0", align="center", width="590", cellpadding="0", cellspacing="0", class="container440")
                                    tr
                                        td(align="center" height="70" style="height:70px;")
                                            img(width="100", border="0", style="display: block; width: 100px;", src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-klmX0MzF_1gDwHsSdnuGJxKQoBBCwc0FBMkwiTZIV2EeGIHX&s", alt="")
                        tr
                            td(height="25", style="font-size: 25px; line-height: 25px;")
                                

        table(border="0", width="100%", cellpadding="0", cellspacing="0", bgcolor="ffffff", class="bg_color")
            tr
                td(align="center")
                    table(border="0", align="center", width="590", cellpadding="0", cellspacing="0", class="container440")
                        tr
                            td(height="10" style="font-size: 10px; line-height: 10px;")
                                
                        tr
                            td(align="center")
                                table(border="0", width="40", align="center", cellpadding="0", cellspacing="0", bgcolor="eeeeee")
                                    tr
                                        td(height="2", style="font-size: 2px; line-height: 2px;")
                                            
                        tr
                            td(height="20", style="font-size: 20px; line-height: 20px;")
                                
                        tr
                            td(align="center")
                                table(border="0", width="590", align="center", cellpadding="0", cellspacing="0", class="container440")
                                    tr
                                        td(align="center", style="color: #888888; font-size: 16px; font-family: 'Work Sans', Calibri, sans-serif; line-height: 24px;")
                                            p(style="line-height: 24px; margin-bottom:15px;")
                                            p(style="line-height: 24px;margin-bottom:15px;") #{text}
                                            a(href="http://localhost:3000/home/auth/forgot-password/" + token) Link To Reset Password
            tr
                td(height="40", style="font-size: 40px; line-height: 40px;")
                    
        table(border="0", height="300px", width="100%", cellpadding="0", cellspacing="0", style="position: absolute; bottom: 0")
            tr
                td(align="center", style="background-image: url(http://d35w1c74a0khau.cloudfront.net/wp-content/uploads/2018/03/comparehero-auctioned-property-guide.jpg); background-size: cover; background-position: center center; background-repeat: no-repeat;", background="http://d35w1c74a0khau.cloudfront.net/wp-content/uploads/2018/03/comparehero-auctioned-property-guide.jpg")
