<app-breadcrumb
  [title]="'single product'"
  [other]="[
    { value: 'shop /', link: '/shop' },
    { value: 'single product', link: '' }
  ]"
></app-breadcrumb>

<app-alert
  *ngIf="message"
  [message]="message"
  [gold]="!success"
  [type]="success"
  [closable]="success"
  (closeAlert)="clearMessages()"
></app-alert>

<section class="about-product container">
  <app-product-images></app-product-images>
  <div class="details">
    <h2>{{ product.name }}</h2>
    <h4>
      Start from -
      <span class="productPrice">{{ product.price | currency }}</span>
    </h4>
    <div class="wonAuction" *ngIf="wonAuction">
      <p *ngIf="!product.paid">
        <span
          ><fa-icon [icon]="['fas', 'check-circle']"></fa-icon
          >Congratulation!</span
        >
        You outbid the competition.
      </p>
      <p *ngIf="product.paid">
        <span
          ><fa-icon [icon]="['fas', 'check-circle']"></fa-icon
          >Congratulation!</span
        >
        You have successfully purchased this product.
      </p>
    </div>
    <div class="payment-button" *ngIf="wonAuction && !product.paid">
      <a [routerLink]="['/shop/payment', product.subcategoryId, product.id]">Pay</a>
    </div>
    <form class="bid" *ngIf="!hide" #form (submit)="onSubmit(form.price)">
      <div class="wrap">
        <div
          class="input"
          *ngIf="product.status && product.status !== 'closed'"
        >
          <input
            type="number"
            step="0.1"
            max="20000"
            placeholder="Enter bid"
            (keyup)="valueChange($event)"
            [value]="enteredPrice"
            name="price"
            [disabled]="disabled"
          />
          <span *ngIf="noBids">Enter {{ minPrice | currency }} or more</span>
          <span *ngIf="!noBids"
            >Enter higher than {{ minPrice | currency }}</span
          >
        </div>
        <button
          class="bid-button"
          [disabled]="disabled"
          *ngIf="product.status && product.status !== 'closed'"
        >
          Place bid
        </button>
      </div>
    </form>
    <div class="owner-info">
      Seller: <img [src]="ownerInfo.photo" [alt]="ownerInfo.full_name" />
      <span>{{ ownerInfo.full_name }}</span>
      <fa-icon [icon]="['fas', 'star']"></fa-icon>
      <span>{{ownerInfo.avg_rating}} / 5</span>
    </div>
    <div class="current-bid">
      <p
        *ngIf="
          numberOfViewers > 1 &&
          product.status &&
          product.status !== 'closed' &&
          userId
        "
      >
        Currently watching You and {{ numberOfViewers - 1 }} more
        {{ numberOfViewers - 1 == 1 ? "user" : "users" }}
      </p>
      <p
        *ngIf="
          product.status &&
          product.status !== 'closed' &&
          !userId &&
          numberOfViewers > 0
        "
      >
        Currently watching {{ numberOfViewers }}
        {{ numberOfViewers == 1 ? "user" : "users" }}
      </p>
      <ng-template [ngIf]="!hide">
        <p>
          Highest bid:
          <span class="highestPrice">{{ product.highest_bid | currency }}</span>
        </p>
        <p>Number of bids: {{ product.number_of_bids }}</p>
        <p *ngIf="product.status && product.status !== 'closed'">
          Time: {{ product.auctionEnd | dateAgo: [{ agoOrLeft: "left" }] }}
        </p>
        <p *ngIf="product.status && product.status !== 'closed'">
          Started:
          {{
            product.auctionStart
              | dateAgo: [{ agoOrLeft: "ago", response: "Not started yet" }]
          }}
        </p>
      </ng-template>
      <p *ngIf="hide && product.status && product.status !== 'closed'">
        Starts in:
        {{
          product.auctionStart
            | dateAgo
              : [
                  {
                    agoOrLeft: "left",
                    response: "Not started yet",
                    loop: true,
                    append: false
                  }
                ]
        }}
      </p>
    </div>
    <div
      class="watchlist"
      *ngIf="
        userId !== product.userId &&
        userId &&
        product.status &&
        product.status !== 'closed'
      "
    >
      <button
        [ngClass]="{ wishlisted: wishlisted }"
        (click)="addRemoveFromWishlist($event)"
      >
        Wishlist <fa-icon [icon]="['fas', 'heart']"></fa-icon>
      </button>
    </div>
    <div class="product-details">
      <h5>Details</h5>
      <p>{{ product.details }}</p>
    </div>
  </div>
</section>

<ng-template [ngIf]="userId === product.userId">
  <app-product-bids [bids]="bids"></app-product-bids>
</ng-template>

<app-landing-page-products
  title="Similar Products"
  className="three-cols"
  [items]="similarProducts"
></app-landing-page-products>
