<section class="container table-biders">
  <table class="biders">
    <thead>
      <tr>
        <th>Bider</th>
        <th>Date</th>
        <th>Bid</th>
      </tr>
    </thead>
    <tbody *ngIf="bids.length > 0">
      <tr *ngFor="let bid of bids; let index = index">
        <td>
          <div class="user">
            <img [src]="bid.User.photo" alt="" />
            <span>{{ bid.User.firstName }} {{ bid.User.lastName }}</span>
          </div>
        </td>
        <td>{{ bid.dateBid | date: "d MMMM y" }}</td>
        <td
          [ngClass]="{
            highest: index === 0,
            second: index === 1,
            third: index === 2
          }"
        >
          {{ bid.price | currency }}
        </td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="bids.length === 0">No bids...</p>
</section>
