<app-breadcrumb title="Forgot Password"></app-breadcrumb>

<app-alert *ngIf="message" [message]="message" [closable]="false" [type]="success"></app-alert>

<app-alert
  *ngIf="tokenExpired"
  [message]="tokenExpired"
  [type]="false"
  [closable]="true"
  (closeAlert)="clearMessages()"
></app-alert>

<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Forgot Password</h1>
    <div class="wrapper">
      <p>
        Lost your password? Please enter your email address. You will receive a link to create a new
        password via email.
      </p>
      <app-input
        id="email"
        title="Email"
        type="email"
        controlName="email"
        [parentForm]="form"
        [input]="form.get('email')"
        [showErrors]="showErrors"
        pattern="Please enter valid email address !!"
      ></app-input>
      <button type="submit" [disabled]="!isValidForm || isClicked">Submit</button>
    </div>
  </form>
</section>
