<app-breadcrumb
  [title]="!reactivate ? 'Forgot Password' : 'Resend activation link'"
></app-breadcrumb>

<app-alert
  *ngIf="message"
  [message]="message"
  [closable]="false"
  [type]="success"
></app-alert>

<app-alert
  *ngIf="tokenExpired"
  [message]="tokenExpired"
  [type]="false"
  [closable]="true"
  (closeAlert)="clearMessages()"
></app-alert>

<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>{{ !reactivate ? 'Forgot Password' : 'Resend activation link'}}</h1>
    <div class="wrapper">
      <p *ngIf="!reactivate">
        Lost your password? Please enter your email address. You will receive a
        link to create a new password via email.
      </p>
      <p *ngIf="reactivate">
        Please enter your email address. You will receive an
        email with new activation link.
      </p>
      <app-input
        id="email"
        title="Email"
        type="email"
        controlName="email"
        [parentForm]="form"
        [input]="form.get('email')"
        [showErrors]="showErrors"
        pattern="Please enter valid email address"
        [required]="true"
      ></app-input>
      <button type="submit" [disabled]="!isValidForm || isClicked">
        Submit
      </button>
    </div>
  </form>
</section>
