@import "mixins";
@import "variables";

.select-wrapper {
  margin-top: 19px;

  &.invalid {
    .select {
      p {
        border: 1px solid getColor(red);
      }

      ul {
        border: 1px solid getColor(red);
        border-top: 0px;
      }
    }
  }

  label {
    @include margin($all: 0 0 8px 0);
    @include fontMixin(18px, light, 0.63px, light_black);
    display: block;
  }

  .select {
    width: 200px;
    position: relative;

    p {
      @include fontMixin(18px, light, 0.63px, light_black);
      @include margin($all: 0);
      @include flex(center);
      @include heightWidth(46px, 100%);
      padding-left: 17px;
      background: getColor(darker_white);
      border: 1px solid getColor(light_gray);
      position: relative;
      cursor: pointer;
      box-sizing: border-box;

      &:after,
      &:before {
        content: "";
        @include heightWidth(4px, 12px);
        position: absolute;
        background: getColor(light_black);
      }

      &:after {
        right: 26px;
        transform: rotate(45deg);
        transition: all 0.3s ease-in-out;
      }

      &:before {
        right: 20px;
        transform: rotate(-45deg);
        transition: all 0.3s ease-in-out;
      }

      &.open {
        &:after {
          transform: rotate(-45deg);
        }

        &:before {
          transform: rotate(45deg);
        }

        ~ ul {
          display: block;
        }
      }
    }

    ul {
      @include margin($all: 0);
      @include padding($all: 10px 0);
      display: none;
      background: getColor(darker_white);
      border: 1px solid getColor(lighr_gray);
      border-top: 0px;
      max-height: 150px;
      overflow-y: auto;
      position: absolute;
      left: 0;
      right: 0;
      z-index: 2;

      li {
        @include padding($all: 10px 5px);
        cursor: pointer;

        &.active,
        &:hover {
          background: getColor(purple);
          color: getColor(white);
        }

        &:only-child {
          background: transparent;
          cursor: default;
        }
      }
    }
  }

  > p {
    @include fontMixin(14px, light, $color: red);
    @include margin($all: 5px 0 0);
    display: block;
  }
}
