<div class="select-wrapper" [ngClass]="{ invalid: invalid }" [id]="id">
  <label *ngIf="label"><span>*</span>{{ label }}</label>
  <div class="select">
    <p appDropdown class="paragraphDropdown" *ngIf="!disabled">
      <span>{{ selectedValue || default }}</span>
    </p>
    <p appDropdown class="paragraphDropdown disabled" *ngIf="disabled">
      <span>{{ selectedValue || default }}</span>
    </p>
    <ng-template [ngIf]="!object && !disabled">
      <ul *ngIf="values.length > 0" type="select">
        <li
          *ngFor="let value of values"
          (click)="changeSelectedValue(value)"
          [ngClass]="{ active: value === selectedValue }"
        >
          {{ value }}
        </li>
      </ul>
    </ng-template>
    <ng-template [ngIf]="object && !disabled">
      <ul *ngIf="values.length > 0" type="select">
        <li
          *ngFor="let value of values"
          (click)="changeSelectedValue(value.name || value.value, value.id)"
          [ngClass]="{
            active:
              value.value === selectedValue || value.name === selectedValue
          }"
        >
          {{ value.name || value.value }}
        </li>
      </ul>
    </ng-template>
    <ul *ngIf="values.length === 0">
      <p>{{ liWhenValuesLength0 }}</p>
    </ul>
  </div>
  <p *ngIf="error">{{ error }}</p>
</div>
