<footer>
  <div class="content container">
    <div class="links">
      <h4>auction</h4>
      <a [routerLink]="['/shop/about']">About Us</a>
      <a [routerLink]="['/shop/terms']">Terms and Conditions</a>
      <a [routerLink]="['/shop/privacy']">Privacy and Policy</a>
    </div>
    <div class="contact">
      <h4>get in touch</h4>
      <p>Call Us at <span>+123 797-567-2535</span></p>
      <p>support@auction.com</p>
      <div class="icons">
        <!-- <a href="">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon>
        </a>
        <a href="">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
        <a href="">
          <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
        </a>
        <a href="">
          <fa-icon [icon]="['fab', 'google-plus-g']"></fa-icon>
        </a> -->
      </div>
    </div>
    <div class="newsletter">
      <h4>newsletter</h4>
      <p>
        Enter your email address and get notified about new products. We hate spam!
      </p>
      <div class="input">
        <!-- <input type="text" placeholder="Your Email address" />
        <button>GO <fa-icon [icon]="['fas', 'greater-than']"></fa-icon></button> -->
      </div>
    </div>
  </div>
</footer>
