footer {
  height: 365px;
  background: #252525;
  border: 1px solid #979797;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  grid-template-areas:
    "a b c";
}

.content > div:first-child {
  grid-area: a;
}

.content > div:nth-child(2) {
  grid-area: b;
}

.content > div:last-child {
  width: 427px;
  grid-area: c;
}

.content h4 {
  text-transform: uppercase;
  opacity: 0.5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0.56px;
  margin-top: 0;
}

.links a {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #D8D8D8;
  letter-spacing: 0.56px;
  text-decoration: none;
  margin-bottom: 15px;
}

.contact p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #D8D8D8;
  letter-spacing: 0.56px;
  margin-bottom: 15px;
  margin-top: 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background: #9B9B9B;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons a fa-icon {
  color: #252525;
  font-size: 12px;
  font-weight: bold;
}

.newsletter .input {
  display: flex;
  align-items: center;
}

.newsletter p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #D8D8D8;
  letter-spacing: 0.56px;
  max-width: 334px;
  width: 100%;
  margin-bottom: 30px;
}

.newsletter input {
  outline: none;
  background: #3B3B3B;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.56px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  width: 275px;
  padding: 17.5px;
  border: none;
}

.newsletter button {
  border: 3px solid #8367D8;
  height: 54px;
  font-size: 18px;
  color: #D8D8D8;
  letter-spacing: 0.63px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background: transparent;
  outline: none;
  padding: 0 23.36px;
  margin-left: 5px;
  cursor: pointer;
}

.newsletter button fa-icon {
  margin-left: 10px;
}

@media (max-width: 817px) {

  footer {
    height: auto;
  }

  .content {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "a b"
    "c c";
    height: auto;
  }

  .content > div {
    padding: 20px;
  }

}

@media (max-width: 490px) {

  footer {
    height: auto;
    padding: 60px 0;
    display: block;
  }

  .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
    "a"
    "b"
    "c";
    grid-gap: 50px;
  }

  .content > div {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .content > div:last-child {
    width: 100%;
    margin: 0;
  }

  .newsletter input {
    width: auto;
    max-width: 150px;
  }

  .newsletter button {
    padding: 0 14px;
  }

}
