@import "mixins";
@import "variables";

.products {
  > button {
    @include fontMixin(18px, bold, 0.63px, white);
    @include margin($all: 0 auto);
    background: getColor(purple);
    height: 56px;
    min-width: 250px;
    display: block;
    cursor: pointer;
    box-shadow: 3px 3px 0 0 rgba(131, 103, 216, 0.31);
    outline: none;
  }

  .navigation {
    @include flex($justofy: space-between);
    padding-left: 21px;

    .dropdown {
      position: relative;

      p {
        @include fontMixin(16px, regular, 0.56px, light_black);
        @include flex(center);
        @include margin($all: 0);
        @include heightWidth(46px, 265px);
        background: getColor(white);
        border: 3px solid getColor(lighter_gray);
        padding-left: 18px;
        cursor: pointer;
        position: relative;

        &:after,
        &:before {
          content: "";
          position: absolute;
          @include heightWidth(5px, 12px);
          background: getColor(light_black);
          border-radius: 5px;
          top: 50%;
        }

        &:after {
          right: 18px;
          transform: rotate(-45deg) translateY(-50%);
          transition: all 0.3s ease-in-out;
        }

        &:before {
          right: 20px;
          transform: rotate(45deg) translateY(-50%);
          transition: all 0.3s ease-in-out;
        }

        &.open:after {
          right: 18px;
          transform: rotate(-135deg);
        }

        &.open:before {
          right: 20px;
          transform: rotate(135deg);
        }

        &.open ~ ul {
          display: block;
        }
      }

      ul {
        @include padding($all: 10px 0);
        @include margin($all: 0);
        display: none;
        background: getColor(white);
        border: 3px solid getColor(lighter_gray);
        border-top: none;
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        max-width: 283px;

        li {
          @include flex(center);
          @include heightWidth(36px, 100%);
          @include fontMixin(16px, regular, 0.56px, light_black);
          @include padding($all: 0 18px);
          box-sizing: border-box;
          cursor: pointer;

          &.active,
          &:hover {
            background: getColor(purple);
            color: getColor(white);
          }
        }
      }
    }
  }
}

.navigation .dropdown p .gridlist {
  @include flex();

  span {
    @include heightWidth(46px, 100px);
    @include flex(center, center);
    @include fontMixin(16px, bold, 0.56px, light_black);
    cursor: pointer;

    &.active {
      background: getColor(purple);
      color: getColor(white);
    }

    > fa-icon {
      margin-right: 10px;
    }
  }
}

@media (max-width: 790px) {
  .products .navigation {
    margin-top: 40px;
    padding: 0;
  }
}

@media (max-width: 540px) {
  .products .navigation {
    display: block;
  }

  .products .navigation .dropdown {
    margin-bottom: 30px;
  }
}

@media (max-width: 490px) {
  .products .navigation .dropdown p {
    width: 100%;
    box-sizing: border-box;
  }

  .navigation .dropdown ul {
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .products .navigation .dropdown p,
  .navigation .dropdown ul li {
    @include fontMixin(14px);
  }
}
