<app-spinner *ngIf="showSpinner"></app-spinner>

<app-breadcrumb [title]="'register'"></app-breadcrumb>

<app-alert
  *ngIf="message"
  [message]="message"
  (closeAlert)="clearMessages()"
  [type]="success"
></app-alert>

<section class="container">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <div class="wrapper pb-51">
      <app-input
        id="fName"
        title="First name"
        type="text"
        controlName="firstName"
        [parentForm]="form"
        [input]="form.get('firstName')"
        [showErrors]="showErrors"
        [minLength]="2"
        [maxLength]="102"
        [required]="true"
      ></app-input>
      <app-input
        id="lName"
        title="Last name"
        type="text"
        controlName="lastName"
        [parentForm]="form"
        [input]="form.get('lastName')"
        [showErrors]="showErrors"
        [minLength]="2"
        [maxLength]="102"
        [required]="true"
      ></app-input>
      <app-input
        id="email"
        title="Email"
        type="email"
        controlName="email"
        [parentForm]="form"
        [input]="form.get('email')"
        pattern="Please enter valid email address"
        [showErrors]="showErrors"
        autocomplete="new-password"
        [required]="true"
      ></app-input>
      <app-input
        id="password"
        title="Password"
        type="password"
        controlName="password"
        [parentForm]="form"
        [input]="form.get('password')"
        pattern="Your password needs to contain both lower and upper case characters, number and a special character."
        [showErrors]="showErrors"
        autocomplete="new-password"
        [required]="true"
      ></app-input>
      <app-input
        id="confirmPassword"
        title="Confirm password"
        type="password"
        controlName="confirmPassword"
        [parentForm]="form"
        [input]="form.get('confirmPassword')"
        pattern="Your password needs to contain both lower and upper case characters, number and a special character."
        [showErrors]="showErrors"
        autocomplete="{something}"
        [required]="true"
      ></app-input>
      <button type="submit" [disabled]="!isValidForm || isClicked">
        Register
      </button>
      <span
        >Already have an account?
        <a [routerLink]="['/home/auth/login']">Login</a></span
      >
    </div>
  </form>
</section>
