<div
  class="form-group"
  [formGroup]="parentForm"
  [ngClass]="{ 'mt-43': !profile, profile: profile }"
>
  <label for="{{ id }}">{{ title }}</label>
  <div class="input">
    <ng-template [ngIf]="isInput">
      <input
        *ngIf="minLength && maxLength"
        type="{{ type }}"
        id="{{ id }}"
        placeholder="{{ placeholder }}"
        formControlName="{{ controlName }}"
        [maxlength]="maxLength"
        [minlength]="minLength"
        [autocomplete]="autocomplete"
      />
      <input
        *ngIf="!minLength && !maxLength"
        type="{{ type }}"
        id="{{ id }}"
        placeholder="{{ placeholder }}"
        formControlName="{{ controlName }}"
        [autocomplete]="autocomplete"
      />
    </ng-template>
    <textarea
      *ngIf="!isInput"
      id="{{ id }}"
      placeholder="{{ placeholder }}"
      formControlName="{{ controlName }}"
      cols="30"
      rows="10"
      [maxlength]="maxLength"
      [minlength]="minLength"
    ></textarea>
    <span *ngIf="input.invalid && input.touched && showErrors">
      <span *ngIf="input.errors['required']">{{ title }} is required</span>
      <span *ngIf="input.errors['minlength']"
        >{{ title }} must contain at least
        {{ input.errors["minlength"].requiredLength }} characters</span
      >
      <span *ngIf="input.errors['maxlength']"
        >{{ title }} cannot exceed
        {{ input.errors["maxlength"].requiredLength }} characters</span
      >
      <span *ngIf="input.errors['email'] || input.errors['pattern']">{{
        pattern
      }}</span>
    </span>
    <span *ngIf="input.invalid" class="async">
      <span *ngIf="input.errors['async']">{{ input.errors["async"] }}</span>
    </span>
  </div>
</div>
